dhatim:
  title: "Dhatim"
  paths: [
    "/Users/paulinegaudet-chardonnet/Documents/dhatim/bootstrap-ui"
    "/Users/paulinegaudet-chardonnet/Documents/dhatim/icon"
  ]
usertest:
  title: "user-test"
  paths: [
    "/Applications/MAMP/htdocs/user-test"
    "/Users/paulinegaudet-chardonnet/Documents/fondation/lookback"
  ]
siseeds:
  title: "Siseeds"
  paths: [
    "/Users/paulinegaudet-chardonnet/Documents/code/seeds/siseeds"
  ]
kontakt:
  title: "Kontakt"
  paths: [
    "/Users/paulinegaudet-chardonnet/Documents/code/kontakt"
  ]
